@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background-default: #0c0c0c;
  --color-background-primary: #181818;
  --color-background-secondary: #282828;
  --color-primary-blue: #53b1fd;
  --color-text-primary: #ffffff;
  --color-text-secondary: #808080;
  --color-text-brand: #006eff;
  --color-border-primary: #383838;
  --color-border-default: #282828;
  --font-inter: var(--font-inter);
  --font-geist: var(--font-geist-sans);
}

@layer utilities {
  .bg-default {
    background-color: var(--color-background-default);
  }
  .bg-primary {
    background-color: var(--color-background-primary);
  }
  .bg-secondary {
    background-color: var(--color-background-secondary);
  }
  .bg-primary-blue {
    background-color: var(--color-primary-blue);
  }
  .bg-brand {
    background-color: var(--color-text-brand);
  }
  .border-primary {
    border-color: var(--color-border-primary);
  }
  .border-default {
    border-color: var(--color-border-default);
  }
  .text-primary {
    color: var(--color-text-primary);
  }
  .text-secondary {
    color: var(--color-text-secondary);
  }
  .text-brand {
    color: var(--color-text-brand);
  }
}
